@import url('https://fonts.googleapis.com/css?family=Righteous');

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: 600 !important;
}
h3 {
  font-size: 2.5rem !important;
  color: #132330;
  font-weight: 600 !important;
}
p {
  font-size: 1.5rem !important;
}

table {
  font-size: 1.4rem !important;
}

.navbar {
  padding: 1rem;
  font-size: 1.8rem;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  position: sticky !important;
  top: 0;
  height: auto !important;
  z-index: 10;
  background-color: rgba(19, 35, 48, 0.85) !important;
}

.navbar-brand {
  font-family: 'Righteous', cursive;
  font-size: 2.8rem !important;
  color: #fff !important;
  padding: 1rem !important;
}

.tagline {
  font-family: sans-serif;
  margin-top: 5px;
}

.carousel-inner > .item > img {
  width: 100%;
  max-height: 700px;
  vertical-align: middle;
}

.box-item {
  padding: 45px !important;
  text-align: center;
  background: #fff;
  flex-basis: 380px;
  flex: 1;
  width: 100%;
  box-shadow: 0 35px 57px 0 rgba(51, 51, 51, 0.1);
  transition: all 0.2s ease-in-out;
  z-index: 1;
  transform: scale(1);
}

.box-item:nth-of-type(2n) {
  z-index: 2;
}

.about-box {
  box-shadow: 0 35px 57px 0 rgba(51, 51, 51, 0.1);
  padding: 3rem 5rem !important;
  border-radius: 10px;
}

.box-item-title {
  font-size: 2.2rem;
  color: #3cc47c;
  font-weight: 700;
}

.box-item-text {
  font-size: 1.6rem;
}

.box-item:nth-child(2) {
  background: #efefef;
}

.link-secondary {
  color: #3cc47c !important;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
}
.link-primary {
  color: #132330 !important;
  font-weight: 600 !important;
  line-height: 4rem !important;
  text-decoration: underline;
  font-size: 1.5rem !important;
}

.btn-primary {
  background-color: #132330 !important;
  border-color: #132330 !important;
}
.btn-primary a {
  color: white;
  text-decoration: none;
}
.btn-primary a:hover {
  color: white;
  text-decoration: none;
}

.btn-secondary {
  background-color: #3cc47c;
  border-color: #3cc47c;
  color: #fff;
}

.row-eq-height {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.feature-box .row {
  margin: 0 !important;
}

.feature-box .row .col-md-4 {
  /* padding: 3px; */
}

footer {
  background: #172a3a;
  padding: 50px 0 0 0;
  text-align: center;
  color: #bbb;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.social-network {
  list-style: none;
}
#sub-footer {
  animation-duration: 1.4s;
  animation-name: bounceInUp;
  background: #132330;
  text-shadow: none;
  color: #5d5d5d;
  padding: 0;
  padding-top: 30px;
  margin: 20px 0 0 0;
  padding-bottom: 30px;
}

.card {
  display: flex;
  position: relative;
  justify-content: center;
  border: none;
  margin-bottom: 40px;
}

.card .card-wrapper {
  background: transparent;
  box-shadow: 0 35px 57px 0 rgba(51, 51, 51, 0.1);
}

.card .card-wrapper .card-box {
  padding: 1.5rem;
}

.card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: 0.5rem 1.6rem;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: default;
  border-radius: 100px;
  background-color: #3cc47c;
}

.card-img {
  position: relative;
  overflow: hidden;
  height: 250px;
  border-radius: 0;
}

.card-img img {
  width: 100%;
}

.machine-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.col-centered {
  float: none !important;
  margin: 0 auto;
}

footer a {
  color: #bbb;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

.product-filters {
  text-align: center;
  margin-bottom: 20px;
}

.product-filters .btn {
  border-radius: 15px !important;
  margin: 0 5px;
  border: 2px solid #132330;
  outline: none;
}

.product-filters .btn.active,
.product-filters .btn:hover {
  color: #fff !important;
  outline: none !important;
  box-shadow: none;
}

.product-filters .btn.active {
  border-color: #132330 !important;
  background: #132330 !important;
}

.product-filters .btn:hover {
  border-color: #3cc47c !important;
  background: #3cc47c !important;
}

.machine-detail-image {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}
.machine-modal {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mb-flex {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #9d9d9d;
}

nav a:hover,
nav a.active,
nav a:focus {
  color: #fff;
  text-decoration: none;
}

.navbar-brand a {
  color: #fff !important;
}

.btn-rounded {
  border-radius: 50% !important;
}
@media (min-width: 992px) {
  .feature-box {
    margin-top: -100px;
    margin-bottom: 50px;
  }
  .pos-sticky {
    position: -webkit-sticky;
    position: sticky !important ;
    top: 75px;
  }
}

@media (min-width: 768px) {
  .box-item:hover {
    outline: 1rem solid #3cc47c;
    outline-offset: 5px;
    z-index: 3;
    transform: scale(1.1) !important;
  }
}

#msg {
  font-weight: 700;
  color: #132330;
  text-align: center;
}
